################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AirlinesCatering/.vs/AirlinesCatering/v16
/AirlinesCatering/.vs/AirlinesCatering/DesignTimeBuild
